<h1 class="text-center mt-5">Editing Cocktail</h1>

<div class="container">
  <%= render 'form', cocktail: @cocktail %>
  <br>
  <%= link_to 'See this cocktail', @cocktail %> |
  <%= link_to 'Back to Cocktails', cocktails_path %>
</div>
