<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542600176-9d2c4bb4bc1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1402&q=80);">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center mb-3">Creat your amazing cocktails with the best ingredients we have listed!</h1>
    <%= link_to "Make your Cocktail", cocktails_path, class: " btn btn-ghost" %>
  </div>
</div>
